<mat-tab-group>
  <mat-tab label="API">
    <h2>{{ 'currency' | translate }}</h2>
    <pre><code [highlight]="moduleImport"></code></pre>
    <h3>{{ 'inputs' | translate }}</h3>
    <table>
      <tr>
        <th>{{ 'name' | translate }}</th>
        <th>{{ 'type' | translate }}</th>
        <th>{{ 'required' | translate }}</th>
        <th>{{ 'default' | translate }}</th>
        <th>{{ 'description' | translate }}</th>
      </tr>
      <tr>
        <td>status</td>
        <td>boolean</td>
        <td>{{ 'no' | translate }}</td>
        <td>-</td>
        <td>{{ 'currencyWidgetDescriptionStatus' | translate }}</td>
      </tr>
      <tr>
        <td>currencyIcon</td>
        <td>string</td>
        <td>{{ 'yes' | translate }}</td>
        <td>-</td>
        <td>{{ 'currencyWidgetDescriptionCurrencyIcon' | translate }}</td>
      </tr>
      <tr>
        <td>currencyTitle</td>
        <td>string</td>
        <td>{{ 'yes'  | translate }}</td>
        <td>-</td>
        <td>{{ 'currencyWidgetDescriptionCurrencyTitle' | translate }}</td>
      </tr>
      <tr>
        <td>currencyValue</td>
        <td>number</td>
        <td>{{ 'yes'  | translate }}</td>
        <td>-</td>
        <td>{{ 'currencyWidgetDescriptionCurrencyValue' | translate }}</td>
      </tr>
      <tr>
        <td>currencyPercent</td>
        <td>number</td>
        <td>{{ 'no' | translate }}</td>
        <td>-</td>
        <td>{{ 'currencyWidgetDescriptionCurrencyPercent' | translate }}</td>
      </tr>
      <tr>
        <td>customClass</td>
        <td>string</td>
        <td>{{ 'no' | translate }}</td>
        <td>-</td>
        <td>{{ 'currencyWidgetDescriptionCustomClass' | translate }}</td>
      </tr>
      <tr>
        <td>bgColor</td>
        <td>string</td>
        <td>{{ 'no' | translate }}</td>
        <td>#e8e9c9</td>
        <td>{{ 'currencyWidgetDescriptionBgColor' | translate }}</td>
      </tr>
      <tr>
        <td>textColor</td>
        <td>string</td>
        <td>{{ 'no' | translate }}</td>
        <td>#3e3e3c</td>
        <td>{{ 'currencyWidgetDescriptionTextColor' | translate }}</td>
      </tr>
      <tr>
        <td>iconBgColor</td>
        <td>string</td>
        <td>{{ 'no' | translate }}</td>
        <td>#44524b</td>
        <td>{{ 'currencyWidgetDescriptionIconBgColor' | translate }}</td>
      </tr>
      <tr>
        <td>iconColor</td>
        <td>string</td>
        <td>{{ 'no' | translate }}</td>
        <td>#ffffff</td>
        <td>{{ 'currencyWidgetDescriptionIconColor' | translate }}</td>
      </tr>
      <tr>
        <td>currencyTitleColor</td>
        <td>string</td>
        <td>{{ 'no' | translate }}</td>
        <td>#44524b</td>
        <td>{{ 'currencyWidgetDescriptionCurrencyTitleColor' | translate }}</td>
      </tr>
      <tr>
        <td>borderBottomWidth</td>
        <td>string</td>
        <td>{{ 'no' | translate }}</td>
        <td>3px</td>
        <td>{{ 'currencyWidgetDescriptionBorderBottomWidth' | translate }}</td>
      </tr>
      <tr>
        <td>borderBottomColor</td>
        <td>string</td>
        <td>{{ 'no' | translate }}</td>
        <td>#9da09f</td>
        <td>{{ 'currencyWidgetDescriptionBorderBottomColor' | translate }}</td>
      </tr>
    </table>
  </mat-tab>
  <mat-tab label="{{ 'examples' | translate }}">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ 'currencyWidgetBasic' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="DEMO">
            <div style="width: 200px">
              <widget-currency
                [status]="true"
                [currencyIcon]="'fas fa-dollar-sign'"
                [currencyTitle]="'Dolar'"
                [currencyValue]="5.85"
                [currencyPercent]="'0.21'"
                [iconBgColor]="'#85bb65'"
                [iconColor]="'#34343c'"
                [borderBottomColor]="'#85bb65'"></widget-currency>
            </div>
          </mat-tab>
          <mat-tab label="HTML">
            <pre><code [highlight]="basicHtml"></code></pre>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ 'currencyWidgetHorizontal' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="DEMO">
            <div class="currency-horizontal">
              <div class="currency-item">
                <widget-currency
                  [status]="true"
                  [currencyIcon]="'fas fa-dollar-sign'"
                  [currencyTitle]="'Dolar'"
                  [currencyValue]="5.85"
                  [currencyPercent]="'0.21'"
                  [iconBgColor]="'#85bb65'"
                  [iconColor]="'#34343c'"
                  [borderBottomColor]="'#85bb65'"></widget-currency>
              </div>

              <div class="currency-item">
                <widget-currency
                  [status]="false"
                  [currencyIcon]="'fas fa-euro-sign'"
                  [currencyTitle]="'Euro'"
                  [currencyValue]="6.32"
                  [currencyPercent]="'-0.34'"
                  [iconBgColor]="'#f58724'"
                  [iconColor]="'#34343c'"
                  [borderBottomColor]="'#f58724'"></widget-currency>
              </div>

              <div class="currency-item">
                <widget-currency
                  [status]="false"
                  [currencyIcon]="'fas fa-coins'"
                  [currencyTitle]="'Altın'"
                  [currencyValue]="284.65"
                  [currencyPercent]="'-0.31'"
                  [iconBgColor]="'#f9a602'"
                  [iconColor]="'#34343c'"
                  [borderBottomColor]="'#f9a602'"></widget-currency>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="HTML">
            <pre><code [highlight]="horizontalHtml"></code></pre>
          </mat-tab>
          <mat-tab label="SCSS">
            <pre><code [highlight]="horizontalScss"></code></pre>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ 'currencyWidgetVertical' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="DEMO">
            <div class="currency-vertical">
              <div class="currency-item">
                <widget-currency
                  [status]="true"
                  [currencyIcon]="'fas fa-dollar-sign'"
                  [currencyTitle]="'Dolar'"
                  [currencyValue]="5.85"
                  [currencyPercent]="'0.21'"
                  [iconBgColor]="'#85bb65'"
                  [iconColor]="'#34343c'"
                  [borderBottomColor]="'#85bb65'"></widget-currency>
              </div>

              <div class="currency-item">
                <widget-currency
                  [status]="false"
                  [currencyIcon]="'fas fa-euro-sign'"
                  [currencyTitle]="'Euro'"
                  [currencyValue]="6.32"
                  [currencyPercent]="'-0.34'"
                  [iconBgColor]="'#f58724'"
                  [iconColor]="'#34343c'"
                  [borderBottomColor]="'#f58724'"></widget-currency>
              </div>

              <div class="currency-item">
                <widget-currency
                  [status]="false"
                  [currencyIcon]="'fas fa-coins'"
                  [currencyTitle]="'Altın'"
                  [currencyValue]="284.65"
                  [currencyPercent]="'-0.31'"
                  [iconBgColor]="'#f9a602'"
                  [iconColor]="'#34343c'"
                  [borderBottomColor]="'#f9a602'"></widget-currency>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="HTML">
            <pre><code [highlight]="verticalHtml"></code></pre>
          </mat-tab>
          <mat-tab label="SCSS">
            <pre><code [highlight]="verticalScss"></code></pre>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Custom</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="DEMO">
            <div class="custom-demo">
              <widget-currency
                [status]="true"
                [currencyIcon]="'fas fa-dollar-sign'"
                [currencyTitle]="'Dolar'"
                [currencyValue]="5.85"
                [currencyPercent]="'0.21'"
                [iconBgColor]="'#85bb65'"
                [iconColor]="'#34343c'"
                [borderBottomColor]="'#85bb65'"
                [bgColor]="'rgba(133, 187, 101, 0.5)'"
                [customClass]="'custom-currency'"></widget-currency>

              <widget-currency
                [status]="false"
                [currencyIcon]="'fas fa-euro-sign'"
                [currencyTitle]="'Euro'"
                [currencyValue]="6.32"
                [currencyPercent]="'-0.34'"
                [iconBgColor]="'#f58724'"
                [iconColor]="'#34343c'"
                [borderBottomColor]="'#f58724'"
                [bgColor]="'rgba(245, 135, 36, 0.4)'"
                [customClass]="'custom-currency'"></widget-currency>

              <widget-currency
                [status]="false"
                [currencyIcon]="'fas fa-coins'"
                [currencyTitle]="'Altın'"
                [currencyValue]="284.65"
                [currencyPercent]="'-0.31'"
                [iconBgColor]="'#f9a602'"
                [iconColor]="'#34343c'"
                [borderBottomColor]="'#f9a602'"
                [bgColor]="'rgba(249, 166, 2, 0.4)'"
                [customClass]="'custom-currency'"></widget-currency>
            </div>
          </mat-tab>
          <mat-tab label="HTML">
            <pre><code [highlight]="customHtml"></code></pre>
          </mat-tab>
          <mat-tab label="SCSS">
            <pre><code [highlight]="customScss"></code></pre>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
