<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="sidebar-header">
      <span>{{ 'docs' | translate }}</span>
      <ul class="language">
        <li><a (click)="translateService.use('tr')"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/tr.svg"></a></li>
        <li><a (click)="translateService.use('en')"><img src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg"></a></li>
      </ul>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">{{ 'getStarted' | translate }}</a>
      <span class="d-block menu-title">{{ 'widgets' | translate }}</span>
      <a mat-list-item routerLink="/currencies">{{ 'currency' | translate }}</a>
      <a mat-list-item routerLink="#">{{ 'weather' | translate }} <small> - {{ 'comingSoon' | translate }}</small></a>
      <a mat-list-item routerLink="#">{{ 'progress' | translate }} <small> - {{ 'comingSoon' | translate }}</small></a>
      <a mat-list-item routerLink="#">{{ 'table' | translate }} <small> - {{ 'comingSoon' | translate }}</small></a>
      <a mat-list-item routerLink="#">{{ 'todoList' | translate }} <small> - {{ 'comingSoon' | translate }}</small></a>
      <a mat-list-item routerLink="#">{{ 'weeklySales' | translate }} <small> - {{ 'comingSoon' | translate }}</small></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header">
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="header-logo">
          <img src="https://www.mehmetsert.com.tr/assets/img/ng2-widgets-logo.png" alt="Angular Widgets">
          <span>Angular Widgets</span>
        </div>
        <span class="example-spacer"></span>
        <ul class="header-links">
          <li><a href="https://kodumunblogu.net/auth/mehmet-sert-11" target="_blank"><i class="fas fa-code"></i> <span>Kodumunblogu</span></a></li>
          <li><a href="https://twitter.com/mehmetsert_11" target="_blank"><i class="fab fa-twitter"></i> <span>Twitter</span></a></li>
          <li><a href="https://www.npmjs.com/~mehmetsert" target="_blank"><i class="fab fa-npm"></i> <span>npm</span></a></li>
          <li><a href="https://github.com/MehmetSert/ng2-widgets" target="_blank"><i class="fab fa-github"></i> <span>GitHub</span></a></li>
        </ul>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="lt-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
