/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css");
@import '~highlight.js/styles/github.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  h2 {
    margin-top: 0;
    font-weight: 400;
  }
  h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    margin: 40px 0 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0,0,0,.12);
  }
  a {
    text-decoration: none;
  }
  .header-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    li {
      a {
        color: #fff;
        display: flex;
        align-items: center;
        padding: 16px 15px;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all;
        i {
          font-size: 24px;
        }
        span {
          font-size: 15px;
          margin-left: 10px;
        }
      }
      &:hover {
        a {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

.mat-tab-body-content {
  padding: 30px 0 15px 0;
  .mat-card {
    &:first-child {
      margin-top: 4px;
    }
  }
}
.mat-tab-group .mat-tab-body.mat-tab-body-active {
  overflow: hidden;
}

code {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0,0,0,.75);
}

.live-preview {
  padding: 30px;
}

.mat-card {
  padding: 0!important;
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  margin: 30px 4px;
  .mat-card-header {
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);
    .mat-card-title {
      margin-bottom: 12px;
      margin-top: 12px;
    }
  }
  .mat-card-content {
    padding: 0;
    .mat-tab-group {
      .mat-tab-body-wrapper {
        .mat-tab-body {
          .mat-tab-body-content {
            padding: 30px;
          }
        }
      }
    }
  }
}

.d-block {
  display: block;
}

.hljs {
  font-size: 15px;
  background-color: #ededed;
  padding: 20px;
}

table {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  margin: 4px;
  width: 100%;
  tr {
    th {
      font-weight: 400;
      max-width: 100px;
      padding: 15px 16px;
      text-align: left;
      background-color: #f5f5f5;
      border-bottom: 1px solid #e0e0e0;
    }
    td {
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      padding: 12px 16px;
      border: 1px solid rgba(0,0,0,.03);
    }
  }
}
